@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dark-mode {
  @apply .bg-black;
}

.dark-mode * {
  @apply .text-white;
}

.dark-mode .swal2-html-container {
  color: #000 !important;
}

.btn-primary {
  @apply bg-blue-500 text-white rounded shadow py-2 px-4 text-center;
}

.btn-primary:hover {
  @apply .bg-blue-800;
}

.btn-primary:focus {
  @apply outline-none;
}

.textarea {
  @apply .border .shadow .rounded .text-black .w-full .p-2;
}

.textarea:focus {
  @apply .outline-none .border-gray-500;
}

.dark-mode .textarea {
  @apply .border-blue-800 .bg-gray-800 .text-white;
}

.dark-mode .textarea:focus {
  @apply .border-gray-600;
}

.table {
  @apply .table-auto .w-full .shadow;
}

.table thead,
.table tfoot {
  @apply bg-gray-100;
}

.dark-mode .table thead,
.dark-mode .table tfoot {
  @apply bg-gray-900;
}

.table tbody tr:hover {
  @apply bg-gray-200;
}

.dark-mode .table tbody tr:hover {
  @apply bg-gray-800;
}

.table td {
  @apply .px-4 .py-2 .border;
}

.dark-mode .table td {
  @apply border-blue-800;
}

.left-table-titles {
  @apply .bg-gray-100;
}

.dark-mode .left-table-titles {
  @apply .bg-gray-900;
}

select {
  @apply bg-gray-200 rounded py-2 px-4 .border w-full;
}

.dark-mode select {
  @apply bg-gray-900 rounded py-2 px-4 .border-blue-800 w-full;
}

select:focus {
  @apply .outline-none .border-gray-500;
}

.text-input {
  @apply bg-gray-200 rounded py-2 px-4 .border w-full;
}

.text-input:focus {
  @apply .outline-none .border-gray-500;
}

.dark-mode .text-input {
  @apply bg-gray-900 rounded py-2 px-4 .border-blue-800 w-full;
}

.dark-mode .text-input:focus {
  @apply .outline-none .border-gray-500;
}
